@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');


.logo{
	
	font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	width: 100%;
}
body{
	font-family: "lato" sans-serif;
	color: black;
	line-height: 1.6;
	max-height: 1600px;
	
}

h1{
	text-transform: capitalize;
}


p{
	margin: 30px;
}


ul{
	list-style-type: none;
	color: black;
	padding: 0px;
	margin: 0px;
}

.container{
	max-width: 1200px;

	margin: 0px auto;
	padding: 0px 40px;
	height: 100px;
}

li a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	text-transform: capitalize;
	padding: 0px 10px;
	margin: 0px 40px;
}

.nav{
	background: skyblue;
	height: 100px;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;

}
nav ul{
	display: flex;
}



.showcase{
	
	height: 1200px;
	border: 2px solid black;
	color: black;
	background-image: url(../images/collins.jpeg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: top 40px right;
}